<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>TODO's Collections
                <small>here</small>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">I need to...</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input name="task" required class="form-control" placeholder="Enter text" ng-model="task">
                        </div>
                        <input type="submit"
                               class="btn btn-success" value="Create"/>
                    </div>
                </div>
        </div>
    </div>
</div><!-- /#page-wrapper -->